table,th,td {
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    background-color: antiquewhite;
}

.container {
    text-align: center;
    background-color: darkseagreen;
}

form input {
    font-size: 20px;
    border-radius: 5px;
}

.input-group {
    font-size: 20px;
}

.input-field {
    margin: 3px;
}

/* Sign In part */

.container2{
    text-align: end;
    margin-top: -300px;
    margin-right: 30px;
}

#login2{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.input-field2 {
    margin: 3px;
}

#reset2{
    font-size: 20px;
    margin-right: 60px;
    border-radius: 5px;
}

#deletedata{
    padding: 2px;
}

#updatedata input {
    margin: 1px;
    padding: 2px;
    font-size: 15px;
    
}