nav {
    display: flex;
    text-align: center;
    width: 100%;
    background-color: lightblue;
}
nav li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

nav li a{
    text-decoration: none;
}

table, th, td {
    border: 2px solid blue;
    border-collapse: collapse;
    width: 60%;
    font-size: 20px;
    background-color: antiquewhite;
    border-collapse: collapse;
    text-align: center;
}

.myTable{
    margin: auto;
    margin-top: 20px;
}

.container {
    text-align: center;
    background-color: cadetblue;
}

form input {
    font-size: 20px;
    border-radius: 5px;
}

/* Sign In part */
#signIn {
    padding: 2px;
    margin: 2px;
    font-size: 18px;
    border-radius: 5px;
}

.container2 {
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    background-color: darkseagreen;
}

#login2 {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
}

#reset2 {
    font-size: 20px;
    margin-right: 60px;
    border-radius: 5px;
}

#deletedata {
    padding: 2px;
    background-color: cadetblue;
    border-radius: 4px;
    font-size: 25px;
}

#deleteuserId{
    font-size: large;
}

#delete-Btn, #deletebtn{
    font-size: large;
    border-radius: 4px;
}

#updatedata input {
    margin: 1px;
    padding: 2px;
    font-size: 20px;
}

#update_user{
    background-color: darkseagreen;
    text-align: center;
    margin: 10px;
}

#updatedatabtn{
font-size: 18px;
margin: 5px;
border-radius: 5px;
}

@media screen and (max-width : 500px) {
    *{
        background-color: lightpink;
    }
}